<h1> Recipes and Ratings </h1>
<br/>
<br/>

<h2>Your recipes:</h2>
<% @recipes.each do |recipe| %>
    <h4><%= recipe.name %></h4><br/>
    <h5>All ratings:<%= Recipe.find(recipe.id).comments.select('ratings').each do |comment|%>
        <%=comment.ratings%>
        <% end %>
        <br/>
    </h5>
 <%end%>






 <%= link_to "Back to home", root_path %>