<h1> Recipes and Ratings </h1>
<br/>
<br/>
<hr/>
<h2>Your recipes:</h2>

<% @recipes.each do |recipe| %>
    <h4><%= recipe.name.capitalize %><br/>
        All ratings:<% Recipe.find(recipe.id).comments.select('ratings').each do |comment|%>
            <%=comment.ratings%>,
        <% end %>
        <br/>
    </h4>
 <%end%>






 <%= link_to "Back to home", root_path %>