
.footer {
<<<<<<< HEAD
=======

>>>>>>> 001aaba7f1e8c5631ecc31877287effd913db727
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 102, 51);
    color: black;
    text-align: center;
}

.footer:hover{
  visibility:hidden;
}
